.body{
    background-color: #f8fafc;    
}

html, body {height:100%;}

.navBar
{
    height: 65px;
    width: 100%;
    padding-top: 1em;    
    background-color: #F9C536;
    display: flex; 
    flex-direction: row;
}

.divLogo
{
    margin-left: 10em;
}

.logo
{        
    width: 110%;
    height: 100%;
    padding-bottom: 0.5em;
}

.bottomBar{
    height: 140px;
    width: 100%;
    padding-top: 1em;
    background-color: #000000;
    display: flex; 
    flex-direction: row;    
    bottom:0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.operacoesUsuario{
    margin-right: 2em;
}

.logoSertao
{
    width:13%;
    height: 65%;    
    background-image: url('/imagens/SertaoCode.png');
    background-repeat: no-repeat;
    background-size: 100%;
    align-self: center;    
}

.rodape{
    width: 25%;    
    family-font:"Arial";
    font-size: 10px;
    margin-left:1em;
    color:white;
    align-self: center;
}

.formasPagamento
{
    width:20%;
    height: 60%;    
    align-self:center;    
    background-image: url('/imagens/pagamentos.png');
    background-repeat: no-repeat;
    background-size: 80%;    
}

.botaoSelecionado
{
    font-size:12px;
    border: solid 1px;
    border-radius:5px;
    background-color:#F9C536;
    font-weight: bold;    
    height:50px;
}

.botao
{
    font-size:12px;
    border: solid 1px;
    border-radius:5px;
    font-style: bold;
    background-color:white;
    height:50px;    
<<<<<<< HEAD

}
=======
}
>>>>>>> baba9679c9e47debae09d91e2d98e3b0cd26f9d4
