.texto {font-size: 20px;padding-left: 26%;}

.card
{
    max-width: 30rem;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}

.camposMenores {max-width: 15rem;}

.btnCC {text-align: center;}

#botaoCC {width: 12rem; height: 3rem;}

.linkAC
{
    padding-top: 2%;
    text-align: center;
    font-weight: bold
}
