p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin: 0px;
}




.container .col-md .cards .textoCentralCima{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.cards .card-body{
   padding: 0px;
}

.cards .card-body hr{
    margin: 0px;
 }

.container .col-12 .btn{
    
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}


