.body{
    background-color: #f8fafc;    
}

html, body {
    height:100%;    
    }

html { margin-bottom: 90px }

div.flex-align {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}

.barraSuperior
{        
    padding-bottom:0.5em;
    background-color: #F9C536;    
}

.divLogo
{
    margin-left: 10em;
}


.logo
{        
    width: 80%;
    height: 100%;    
    vertical-align: middle;
}

.bottomBar{
    padding-top:1em;
    padding-bottom:1em;
    width: 100%;        
    background-color: #000000;    
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;  
}

.operacoesUsuario{
    margin-right: 2em;
}


.centralizador{    
    align-items: center;    
    justify-content: center;
}

.logoSertao
{
    width:100%;
    height: 100%;
    margin:0;
    
    align-items: center;    
}

.rodape{
    width: 80%;
    margin:0;
    family-font:"Arial";
    font-size: 10px;
    margin-left:1em;
    color:white;
    align-self: center;
    vertical-align: middle;
}

.formasPagamento
{
    width:100%;
    height: 100%;    
    align-self:center;    
}

.botaoSelecionado
{
    font-size:12px;
    border: solid 1px;
    border-radius:5px;
    background-color:#F9C536;
    font-weight: bold;    
    height:50px;
}

.botao /*REFERE-SE A TODOS OS BOTÕES*/
{
    height: auto;
    min-height: 36px;
    width: auto;
    padding: 6px;
    border: none;
    border-radius: 3px;
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
}

.botaoPrimario, .botaoSecundario {min-width: 90px}

.botaoPrimario:hover {background-color:#F9C536d0}


.botaoPrimario /*REFERE-SE AOS BOTÕES PRIMÁRIOS CUJA COR É AMARELA E AS LETRAS SÃO PRETAS*/
{
    background-color:#F9C536;
    color: black;
}

.botaoSecundario:hover {background-color:#1b5576d0}

.botaoSecundario /*REFERE-SE AOS BOTÕES SECUNDÁRIOS CUJA COR É AZUL E AS LETRAS SÃO BRANCAS*/
{
    background-color:#1B5576;
    color: white;
}
