#contPrincipal{
    display: flex;
    padding: 0px;
    justify-content: center;
}


#meio{
    width: 700px;
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, 0.062);
    background-color: white;
    justify-content: center;    
}

#botaoGu, #botaoBusca {
    border:#F9C536 ;
    border-radius: 6px;
}

#meio .baixoGu{
    padding: 10px;
    display: flex;
    justify-content: center;
   
}

#meio .cimaGu{
    padding: 10px;
    justify-content: center;
}

#meio .cimaGu #buscaGu{
    width: 550px;
    margin-left: 15px;
    border: 2px solid rgba(0, 0, 0, 0.062);
    background-color: #f5f5f5;
    border-radius: 6px;
}