.quadro
{
    margin-right: 10px; 
    margin-left: 10px; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    background-color: white;
    width: 320px;
    height: 180px; 
    border-radius: 5%;
    box-shadow: 1px 1px 1px rgba(136, 134, 134, 0.589);
    position: relative;
}

.quadro:hover
{    
    transform: scale(1.1);
}

.botaoSelecaoInicial
{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    width: 150px;
    height: 85px;
    font-size: 16px;
    text-align: left;
    border-radius: 5%;
    font-weight: bold;
    color: black;
    background-color: #f9c536;
    box-shadow: 1px 2px 1px rgba(136, 134, 134, 0.589);
    border: 0px;
}

.botaoSelecaoInicial:hover{
    color: #f9c536;
    background-color: black;
}


.textoNumeroAzul
{
    font-family: "darker grotesque";
    font-size: 52px;
    color: #1c5d76;
    text-align: center;  
    font-weight: bold;  
}

.textoCidade
{
    font-family: "darker grotesque";
    font-size: 32px;
    color: #1c5d76;
    text-align: center;  
    font-weight: bold; 
}


.textoNumeroAmarelo
{
    font-family: "darker grotesque";
    font-size: 52px;
    color: #f6b913;
    text-align: center;  
    font-weight: bold;  
}

.textoPreto
{
    font-family: "darker grotesque";
    font-size: 32px;
    color: black;
    font-weight: bold;
    
}

.caixaPesquisa
{
    position: absolute;
 
    border-radius: 40px;
    background-color: #f6b913;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.caixaTexto
{
    font-size: 10px;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    width: 0;
    transition: 1s;
}

#iconPesquisa
{
    font-size: 16px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconBotoesPrincipais
{
    height: 0;
    font-size: 48px;
    display: flex;
    justify-content: right;
    align-items: right;
}

.caixaPesquisa:hover > .caixaTexto
{
    width: 200px;
    padding: 0 20px;
}

#tabelas{
    background-color: #f6b913;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #fce6b8f1;
}
