.container
{
    margin-top:2em;
    padding-left: 8em;
}

.card
{
    margin-top:1em;    
}


.tituloAzul
{
    font-size: 18px;
    color: #1C5576;
    font-style: bold;
    text-align: center;    
}

.textoAmarelo
{
    font-size: 16px;
    color: #f6b913;    
    font-weight: 900;
    text-align: left;    
}

.textoPreto
{
    font-size: 16px;
    color: black;    
    font-weight: bolder;
    text-align: left;    
}

.label2
{
    color: black;
    text-align: center;
    font-weight: 100;
}

.textoConfirmacao
{
    font-size: 20px;
    color: #1c5d76;
    text-align:center;  
    font-weight: bold;  
}

.infoPedidoTexto
{
    font-size: 18px;
    padding-left: 5%;
}

.infoPedidoDados 
{
    color: #f6b913;
    font-size: 18px;
    padding-left: 5%;
}

#statusPagamento 
{
    color: #1C5576;
}
#msgAlerta 
{
    font-family: arimo;
    font-weight: bold;
    text-align: center;
    color: #8a6d3b;
    font-size: 15px;

}

#btnMinhasPassagens 
{
    height:36px;    
    width: 178px;
}

.btnMP
{
   text-align: center;

}

.breadcrumb
{
    font-size: 20px;
    justify-content: center;
    background-color: transparent;
}



