*{ /*DEFINE AS CARACTERÍSTICAS DAS BARRAS DE TODOS OS ELEMENTOS*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ /*DEFINE AS CARACTERÍSTICAS DE TODAS AS PÁGINAS*/
    background: #F5F5F5;
    font-family: 'Darker Grotesque', sans-serif;
}

.allBar{ /*DEFINE AS CARACTERÍSTICAS DE TODAS AS BARRAS*/
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topBar{ /*DEFINE AS CARACTERÍSTICAS DAS BARRAS DE TOPO*/
    background-color: #F9C536;
}

.bottomBar{ /*DEFINE AS CARACTERÍSTICAS DAS BARRAS DE BASE*/
    background-color: #000000;
}

.allForm{ /*DEFINE AS CARACTERÍSTICAS DE TODOS OS FORMULÁRIOS*/
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background: white;
    width: 400px;
}

#mainEmptySpace h1{ /*DEFINE AS CARACTERÍSTICAS DE TODOS OS TÍTULOS DE SESSÃO CONTIDOS EM mainEmptySpace*/
    margin-bottom: 4px;
    margin-left: 5px;
    width: 400px;
    text-align: left;
    font-size: 19pt;
}